title: GM Blog
title_separator: "|"
subtitle: Personal blog and portfolio
email: greg.martinez44@gmail.com
description: My personal blog and portfolio
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://gmarti-web.github.io"
github_username:  gmarti-web
lang: en
local: en-US
name: Greg Martinez
breadcrumbs: true
logo: /assets/favicon/favicon.svg

# Build settings
theme: minimal-mistakes-jekyll
plugins:
  - asciidoctor
  - jekyll-asciidoc
  - jekyll-archives
  - jekyll-feed
  - jekyll-octicons
  - jekyll-include-cache
  - jekyll-paginate

include: ["_pages"]
permalink: /:categories/:title/

exclude:
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - node_modules/
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .ruby-version
  - scripts/

collections_dir: collections
collections:
  azure-web-app-with-terraform:
    output: true
    permalink: /:collection/:path
    title: Azure Web App with Terraform
    description: >-
      In this tutorial, you'll learn how to deploy the required Azure infrastructure 
      for a simple web application.
  greener-redlands-proposal:
    output: true
    title: Greener Redlands proposal
    description: >-
      This mock proposal was my Professional Technical Writing 320 portfolio assignment.
  hub-and-spoke-network:
    output: true
    title: Hub-and-spoke network
    description: >-
      An explanation of network traffic through a hub-and-spoke network model.
  mtg-scraper-dfd:
    output: true
    title: MTG scraper data flow diagram
    description: >-
      A data flow diagram showing data moving through my MTG tournament scraper app.
  markdown-for-github-pages:
    output: true
    title: How to write Markdown for GitHub Pages
    description: >-
      A set of guides to help you publish your documentation to a GitHub Pages site.
  your-new-data-warehouse:
    output: true
    title: Your new data warehouse
    description: >-
      A brief article to help decision makers decide to build or buy a data warehouse for their organization.

show_excerpts: true
enable_copy_code_button: true
words_per_minute: 120
search: true
lunr:
  search_within_pages: true

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      related: true
      show_date: true
  - scope:
      path: _pages
      type: pages
    values:
      layout: single
      author_profile: true
  - scope:
      path: "collections/_azure-web-app-with-terraform"
      type: azure-web-app-with-terraform
    values:
      layout: single
      author_profile: false
      show_date: true
      toc: true
      toc_label: Table of contents
      toc_icon: cog
      toc_sticky: true
      sort_by: order
      sidebar:
          nav: azure-web-app-with-terraform
  - scope:
      path: "collections/_greener-redlands-proposal"
      type: greener-redlands-proposal
    values:
      layout: single
      author_profile: false
      show_date: true
      toc: false
  - scope:
      path: "collections/_hub-and-spoke-network"
      type: hub-and-spoke-network
    values:
      layout: single
      author_profile: true
      show_date: true
      toc: true
      toc_label: Table of contents
      toc_sticky: true
      sort_by: order
  - scope:
      path: "collections/_mtg-scraper-dfd"
      type: mtg-scraper-dfd
    values:
      layout: single
      author_profile: true
      show_date: true
      toc: false
  - scope:
      path: "collections/_markdown-for-github-pages"
      type: markdown-for-github-pages
    values:
      layout: single
      author_profile: false
      show_date: true
      toc: true
      toc_label: Table of contents
      toc_icon: cog
      toc_sticky: true
      sort_by: order
      sidebar:
        nav: markdown-for-github-pages
  - scope:
      path: "collections/_your-new-data-warehouse"
      type: your-new-data-warehouse
    values:
      layout: single
      read_time: true
      author_profile: true
      show_date: true
      toc: true
      toc_label: Table of contents
      toc_sticky: true
      sort_by: order

author:
  name : Greg Martinez
  email: greg.martinez44@gmail.com
  bio: Data and cloud engineer with a passion for good documentation.
  location: Seattle, WA
  avatar: /assets/bio-avatar.png
  links:
    - label: GitHub
      icon: "fab fa-fw fa-github"
      url: "https://github.com/greg-martinez44"

pagination:
  enabled: true
  collection: 'posts'
  per_page: 5
  permalink: '/page/:num/'  # Pages are index.html inside this folder (default)
  title: ':title - page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
  trail:
    before: 2
    after: 2

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

asciidoc:
  processor: asciidoctor
  require_front_matter_header: true
asciidoctor:
  attributes:
    icons: font
    stylesdir: /assets/css
    source-highlighter: pygments
