<ol>
    <li>
        Go to <a href="https://portal.azure.com">https://portal.azure.com</a>.
    </li>
    <li>
        Select <b>Create one!</b>
        {% include figure popup=true image_path="/assets/images/create-azure-account-start.png" alt="Create new Azure account link" caption="Create one! link" %}
    </li>
    <li>
        Enter your email address and then select <b>Next</b>.
    </li>
    <li>
        Enter a password and then select <b>Next</b>.
        <div class="notice--primary">
            {% octicon bell height:16 %}
            <p>Passwords must have at least 8 characters and contain two of the following:</p>
            <ul>
                <li>uppercase letters</li>
                <li>lowercase letters</li>
                <li>numbers</li>
                <li>symbols</li>
            </ul>
        </div>
    </li>
    <li>
        <p>Enter your country/region and birthdate. Then select <b>Next</b>.</p>
        <p>Azure sends you a verification email to the address you entered earlier.</p>
    </li>
    <li>
        <p>Enter the six-digit code from the verification email and then select <b>Next</b>.</p>

        <div class="notice--tip">Select the checkbox next to <b>I would like information, tips, and offers about Microsoft products and services</b> to unmark that option. This tells Microsoft to not send you marketing emails.</div>
    </li>
    <li>
        <p>Follow the instructions to prove you're not a robot.</p>
    </li>
</ol>

You'll see the Azure homepage after you've successfully created your account.

{% include figure popup=true image_path="/assets/images/create-azure-account-finish.png" alt="Complete Azure account creation" caption="Azure homepage" %}