<ol>
    <li>
        Go to <a href="https://portal.azure.com">https://portal.azure.com</a>.
    </li>
    <li>
        Select <b>Create one!</b>
        {%- include figure popup=true image_path="/assets/images/create-azure-account-start.png" alt="Create new Azure account link" caption="Create one! link" -%}
    </li>
    <li>
        Enter your email address and then select <b>Next</b>.
    </li>
    <li>
        Enter a password and then select <b>Next</b>.
        <div class="notice--primary">
            {% octicon bell height:16 %}
            <p>Passwords must have at least 8 characters and contain two of the following:</p>
            <ul>
                <li>uppercase letters</li>
                <li>lowercase letters</li>
                <li>numbers</li>
                <li>symbols</li>
            </ul>
        </div>
    </li>
    <li>
        <p>Enter your country/region and birthdate. Then select **Next**.</p>
        {%- include figure popup=true image_path="/assets/images/create-azure-account-birthdate.png" alt="Enter your country/region and birthdate." caption="Enter your country/region and birthdate." -%}
        <p>Azure sends you a verification email to the address you entered earlier.</p>
    </li>
</ol>

<p>You've created an Azure account.</p>
