<p>See the following tutorials to learn more about using Terraform:</p>
<ul>
  <li><a href="https://developer.hashicorp.com/terraform/tutorials/azure-get-started">Get Started - Azure</a></li>
  <li><a href="https://developer.hashicorp.com/terraform/tutorials/cli">Use the Command Cline Interface</a></li>
  <li><a href="https://developer.hashicorp.com/terraform/tutorials/configuration-language">Write Terraform Configuration</a></li>
  <li><a href="https://developer.hashicorp.com/terraform/tutorials/azure">Manage Azure Services</a></li>
</ul>
